<p>student works!</p>
<button (click)="senddata()"> click Me</button>


<h1>Dep. Injection</h1>
<table>
    <tr *ngFor = "let obj of deptobj">
        <td>ID:</td>{{obj.id}}
        <td>Name:</td>{{obj.name}}
    </tr>
</table>