<div class="container">
    <app-navbar></app-navbar>
  <form name="myForm" [formGroup]="forms" (ngSubmit)="signup(forms)">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              formControlName="fname"
              placeholder="Enter Your First-Name"
              class="form-control"
            />
          </div>

          <div
            *ngIf="
              forms.controls.fname.errors?.required &&
              forms.controls.fname.touched
            "
            class="error"
          >
            *Required
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lname"
              placeholder="Enter Your Last-Name"
              class="form-control"
            />
          </div>
          <div
            *ngIf="
              forms.controls.lname.errors?.required &&
              forms.controls.lname.touched
            "
            class="error"
          >
            *Required
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter Your Email"
              class="form-control"
            />
          </div>
          <div
            *ngIf="
              forms.controls.email.errors?.required &&
              forms.controls.email.touched
            "
            class="error"
          >
            *Required
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Phone No.</label>
            <input
              type="text"
              formControlName="phone"
              placeholder="Enter Your Phone No."
              class="form-control"
            />
          </div>
          <div
            *ngIf="
              forms.controls.phone.errors?.required &&
              forms.controls.phone.touched
            "
            class="error"
          >
            *Required
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <button
              class="btn btn-success pull-right"
              [disabled]="!forms.valid"
            >
              Signup
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

