<div class="container">
  <form name="myForm" [formGroup]="forms" (ngSubmit)="login(forms)">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter Your Email"
              class="form-control"
            />
          </div>

          <div
            *ngIf="
              forms.controls.email.errors?.required &&
              forms.controls.email.touched
            "
            class="error"
          >
            *Required
          </div>
          <div
            *ngIf="
              forms.controls.email.errors?.email &&
              forms.controls.email.touched
            "
            class="error"
          >
            This is not in correct format
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter Your Password"
            />
          </div>
          <div
            *ngIf="
              forms.controls.password.errors?.required &&
              forms.controls.password.touched
            "
            class="error"
          >
            *Required
          </div>
          <div
            *ngIf="
              forms.controls.password.errors?.minLength &&
              forms.controls.password.touched
            "
          >
            This is not in correct format
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button
              class="btn btn-success pull-right"
              [disabled]="!forms.valid"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
