<form [formGroup]="forms" (ngSubmit)="clickable(forms)">
  <h1>Reactive Forms</h1>

  <div>
    <input type="text" formControlName="name" placeholder="Your Name" />
    <div
      *ngIf="
        forms.controls.name.errors?.required && forms.controls.name.touched
      "
      class="error"
    >
      Name Is Required
    </div>

    <br />
    <input type="text" formControlName="phone" placeholder="Your Phone" />
    <div
      *ngIf="
        forms.controls.phone.errors?.required && forms.controls.phone.touched
      "
      class="error"
    >
      Phone Is Required
    </div>
  </div>
  <div>
    <button type="submit" >Submit</button>
  </div>
</form>
