<p>
  Example of Badge and Button
  <button
    mat-raised-button
    color="primary"
    matBadge="8"
    matBadgePosition="before"
    matBadgeColor="accent"
    matTooltip="This action is taken"
  >
    Action
  </button>
</p>

<button mat-raised-button>Hellow World</button>

<router-outlet></router-outlet>
