<p>counter-parent works!</p>
<h1>Using ViewChild Example</h1>
<button type="button" (click)="increase()">Increase</button>
<button type="button" (click)="decrease()">Decrease</button>
<app-counter></app-counter>

<div style="display: block">
  <canvas
    baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>

<div>
<canvas baseChart width="400" height="400"
  [datasets] = "lineChartData"
  [colors] = "lineChartColors"
  [legend] = "linerChartLegend"
  [chartType] = "lineChartType"
  [plugins] = "lineChartPlugins"
></canvas>
</div>
