<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <mat-header-row *matHeaderRowDef="displayColums">No.</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColums">{{
        element.position
      }}</mat-row>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-row *matHeaderRowDef="displayColums">Name</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColums">{{
        element.name
      }}</mat-row>
    </ng-container>

    <ng-container matColumnDef="weight">
      <mat-header-row *matHeaderRowDef="displayColums">Weight</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColums">{{
        element.weight
      }}</mat-row>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <mat-header-row *matHeaderRowDef="displayColums">Symbol</mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColums">{{
        element.symbol
      }}</mat-row>
    </ng-container>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
