<div style="text-align:center">
  <div>
    <h1>Data IS COmming</h1>
    <h1>{{ data }}</h1>
  </div>
  <div>{{ data123 }}</div>
  <div>
    <h1>Router Link Example</h1>
    <a [routerLink]="['/routerone']">RouterOnePage</a>
    <br />
    <a [routerLink]="['/details']">details</a>
  </div>
  <form name="form" #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Enter Value"
        [(ngModel)]="model.username"
      />
      <div>Please enter right value</div>
    </div>
    <button type="submit">Submit</button>
  </form>
  {{ model | json }}
</div>
<div>
  <app-student
    [myinput]="inputvariable"
    (myoutput)="getdata($event)"
  ></app-student>
</div>
<div>
  <app-counter-parent></app-counter-parent>
</div>
<h1>
<div>
  <app-testone></app-testone>
</div>
<div>
  <app-testtwo></app-testtwo>
</div>
<div>
  <app-testthree></app-testthree>
</div>
<div>
  <app-testfour></app-testfour>
</div>
</h1>
<router-outlet></router-outlet>
