<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>
    <li><a [routerLink]="['/student']" routerLinkActive="active">Student</a></li>
    <li>
      <a [routerLink]="['/details']" routerLinkActive="active"
        >Details</a
      >
    </li>
    <li><a [routerLink]="['/courses']" routerLinkActive="active">Courses</a></li>
  </ul>
</nav>

  <router-outlet></router-outlet>

